
{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">

    <h4>All of our WebScrapers are fake.</h4>
    <h2>Choose a WebScrapper©!</h2>

    <a href="/new_item" class="waves-effect waves-light btn-large"><i class="material-icons left">play_arrow</i>Teste</a>
    <a href="/listaOlx" class="waves-effect waves-light btn-large"><i class="material-icons left">play_arrow</i>Olx</a>
    <a href="/listaTwitter" class="waves-effect waves-light btn-large"><i class="material-icons left">play_arrow</i>Twitter</a>
    <a href="/cadastrarPerfil" class="waves-effect waves-light btn-large"><i class="material-icons left">play_arrow</i>Cadastrar Perfil</a>
    <a href="/listaPerfil" class="waves-effect waves-light btn-large"><i class="material-icons left">play_arrow</i>Listar Perfis</a>

</div>

{% endblock %}