{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container">

    <h2> Lista dos Tweets do @{{ tt_user }}</h2>

    <table>
        <thead>
          <tr>
              <th>Tweet</th>
              <th>Retweet</th>
              <th>Likes</th>
          </tr>
        </thead>
        <tbody>
        {% for tweet in tweet_obj %}
          <tr>
            <td>{{ tweet.text }}</td>
            <td>{{ tweet.retweets }}</td>
            <td>{{ tweet.likes }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

</div>



{% endblock %}